@font-face{
    font-family: myfont;
    src: url(against.ttf.ttf);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    font-family: 'Times New Roman', Times, serif;
}   

section{
    color: #ffffff;
}

span{
    color: mediumspringgreen;
}

  
.header{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: mediumspringgreen;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

/* <========== Navbar ==========> */

.navbar_logo {
    font-family: myfont;
    font-size: 20px;
    flex-grow: 1;
    margin-left: 10px;
}

.navbar_menu {
    display: flex;
    gap:70px;
    margin-right: 20px;
    font-size: 18px;
}

.navbar_menu a {
    color: #ffffff;
    text-decoration: none;
}

.navbar_menu a:hover{
    color:mediumspringgreen;
    font-size:18.5px;
}
/* <========== Home ==========> */


.text{
    display: flex;
    color:#ffffff;
    text-align:center;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    margin-top: -90px;
}

.home-content h3{
    font-size: 30px;
    font-weight: bold;

}

.home-content h1{
    font-size: 50px;
    font-weight:bolder;
    line-height: 1.2;
    color:mediumspringgreen;
}

.home-image img{
    margin:50px 0px 70px 150px;
    border-radius: 5%;
    box-shadow: 7px 7px 15px black;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 1px;
    background: transparent;
    border: 2px solid mediumspringgreen ;
    border-radius: 50%;
    margin: 10px 15px 15px 0px;
    padding: 13px;
    color: mediumspringgreen;
}

.social-media a:hover{
    transform: translateY(-.25rem)
}


.btn{
    display: inline-block;
    padding: 0.5rem 0.7rem;
    background: mediumspringgreen;
    border-radius: 10px ;
    box-shadow: 0 0 10px mediumspringgreen;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
    color:black;
}

.btn:hover{
    box-shadow: none;
}

/* <========== About ==========> */


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-content h2{
    font-size: 28px;
    position: absolute;
    background-color:mediumspringgreen;
    width: 170px;
    text-align: center;
    margin: -30px 0px 0px -60px;
    border-radius: 0px 20px 0px 20px;
    color: #ffffff;  
}



.about-image img {
    margin:90px 0px 50px 150px;
    border:2px solid white;
}


.about-content p {
    margin: 60px 150px 0px 100px;
    line-height: 1.5;
    font-size: 18px;
}


.btnn{
    display: inline-block;
    padding: 0.5rem 0.7rem;
    background: mediumspringgreen;
    border-radius: 10px ;
    box-shadow: 0 0 10px mediumspringgreen;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
    color:black;
    margin: 40px 0px 0px 100px;
}

.btnn:hover{
    box-shadow: none;
}


.skills{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.skills_head p{
    background-color: rgba(0, 0, 0, 0);
}

.skills_head h2 span{
    color: mediumspringgreen;
    background-color: rgba(0, 0, 0, 0);
}

.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px; 
    background-color: rgba(0, 0, 0, 0); 
}

.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: mediumspringgreen;
    border-radius: 25px;
}

.skill_bar .bar .dsa{
    width: 10%;
    animation: html 2s;
}
@keyframes dsa {
    0%{
        width: 0%;
    }100%{
        width: 10%;
    }
}
.skill_bar .bar .html{
    width: 80%;
    animation: html 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .css{
    width: 50%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .photoshop{
    width: 80%;
    animation: photoshop 2s;
}
@keyframes photoshop {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .figma{
    width: 70%;
    animation: figma 2s;
}
@keyframes figma {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .canva{
    width: 80%;
    animation: canva 2s;
}
@keyframes canva {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}


.project{
    background-color: #333;
}

.heading{
    font-size: 30px;
    margin: 40px 0px 60px 0px ;
    text-align: center;
    color: mediumspringgreen; 
}

.grp1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.grp2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.project-box img{
    border:1px solid white;
    box-shadow: 0 0 7px;
    opacity: 1;
}


.project-box .project-layer h4{
    margin: 0px 0px 0px 80px;
}

.project-box:hover img{
    transform:translateY(-.5rem);
    opacity: 0.3;
}

.contact-me{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.082);
    color: white;
    border-radius: 7px;
    padding: 15px;
}

.contact-me h2{
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px 0px 20px 0px;
}

.Input{
    position: relative;
    width: 25%;
    height: 3px;
    margin: 50px 455px 0px;
    
}

.Input input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    color: white;
}

.Input input::placeholder {
    color: rgba(255, 255, 255,0.5);
    
}

.contact-me textarea{
    padding: 15px;
    font-size: 16px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0);
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 7px;
    margin: 50px 455px 0px;
    color: white;
}

.button{
    display: inline-block;
    padding: 0.5rem 0.7rem;
    background: mediumspringgreen;
    border-radius: 10px ;
    box-shadow: 0 0 10px mediumspringgreen;
    font-weight: 600;
    margin: 20px 555px 20px;
    text-decoration: none;
    color:black;
}

.button:hover{
    box-shadow: none;
}

.copyright-bar{
    width: 100%;
    height: 100%;
}

.social {
    width: 100%;
    margin: 1px 545px  ;
    color: mediumspringgreen;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 1px;
    background: transparent;
    border: 2px solid mediumspringgreen ;
    border-radius: 50%;
    margin: 50px 10px 30px ;
    padding: 13px;
    color: mediumspringgreen;
}


.link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link{
    text-align: center;
    margin-bottom: 10px;
}

.copyright a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.copyright{
    text-align: center;
    margin-bottom: 20px;
}

